h1{
    padding: 1rem;
    
}

form {
    margin: 0;
    padding: 5rem;
}

form p  {
    padding: 0.5rem;
}

.fieldsCreate {
    align-content: center;
}

.fieldsCreate input {
    padding: 0.7rem ;
    border-radius: 10px;
}


button{
    background-color: var(--yellow500);
    color: white;
    font-weight: bold;
    border-radius: 5rem;
    padding: 1rem;
    margin: 1rem 0 0 9.5rem;
    height: 3rem;
    width: 8rem;
    align-content: center;
    transition: 0.2s;
}

button:hover {
    background-color: var(--cyan500);
}

