






.bookmarks {
    margin: 1rem;
}




.bookmarks button , .edit-button {

    background-color: var(--yellow500);
    color: white;
    font-weight: bold;
    border-radius: 5rem;
    width: 8rem;
    align-content: center;
    transition: 0.2s;
}

 .edit-button {

    background-color: var(--yellow500);
    color: white;
    font-weight: bold;
    border-radius: 5rem;
    width: 8rem;
    transition: 0.2s;
}


button:hover {

    background-color: var(--cyan500);
}

.bookmarks input {
    padding: 1px;
}



.bookmarks form {
    margin: 0;
    padding: 3px;
}

.bookmarks form p  {
    padding: 1px;
}

.bookmark-card{
    border: 1px solid gray;
    border-radius: 10px;
    padding: 2rem;
    margin: 1rem;
}

form {

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.title-my-blogs{
    padding: 2rem;
}


.link-blog{
    color: var(--yellow500);
}