 {% extends "layout.njk"  %}


{% block head %}

    <link rel="stylesheet" href="/main.css">
  
    <title>FavLinks</title>
    
{% endblock %}
 
 
 
 {% block content %}
 
 <header>
        <div class="header-container">
            <div class="links">
                 <h1>⭐ Hi again {{user.name}}! to <span>FavLinks !</span> </h1>
                <a href="/sessions">log out</a>
            </div>
        </div>
      
    </header>

    <form  method="POST" action="/bookmarks/create"  enctype="multipart/form-data">
        <div class="save-link-form">
            <h2>Here you can save your favorites tech-blogs<h2>
                <h2>title : <input placeholder="eg: Name/Label Blog" type="text" name="label"></h2>
                <h2>link : <input placeholder="eg:http://example.com.br" type="text" name="link"></h2>
                <input id="token" name="token" type="hidden" value="{{token}}">
                <input id="id" name="id" type="hidden" value="{{user.id}}">
        </div>

        <button type="submit">Save ⭐</button>
    </form>


    <div class="bookmarks">
        <div class="bookmark-card">
            <p>name</p>
            <p>link</p>
            <button type="submit">editar</button>
            <button type="submit">deletar</button>
        </div>
        
    </div>


    <script src="./users/scripts/createuser.js">
    
    </script>


     {% endblock %}