 {% extends "layout.njk"  %}


{% block head %}

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/bookmarks/bookmarks.css">
  
    <title>BlogDev</title>
    
{% endblock %}
 
 
 
 {% block content %}
 
    <header>
        <div class="header-container">
            <div class="links">
                <a href="/bookmarks/create">⭐Criar BlogDev</a>
                 <a href="/">⭐logout</a>
            </div>
        </div>
    </header>
   
    <h1 class="title-my-blogs">Seus blogs de tecnologia</h1>

    <div class="bookmarks">
       
    </div>


    <script >

        async function fetchAllBookmarksUserS(){
            const link = await fetch(`/bookmarks/list/${sessionStorage.getItem("id")}`)
            const response  = await link.json()
            const data = await response
            const bookmarks = await data
            
                bookmarks.forEach((bookmark) => { 
                let bookmarkDiv = document.querySelector('.bookmarks')
                
                let formDiv = `
                <div class="bookmark-card">
                    <form  method="POST" action="/bookmarks/delete/${bookmark.id}/${bookmark.user_id}" enctype="multipart/form-data">
                        <div>
                            <p>${bookmark.label}</p>
                            <a class ="link-blog">${bookmark.link}</a>
                        </div>                         
                        <div>
                            <a href="/bookmarks/edit/?id=${bookmark.id}">
                                <input class="edit-button" value="editar" type="button"></input>
                            </a>
                            <button type="submit">deletar</button></div>
                        </div>
                        
                    </form>
                </div>
                `
                bookmarkDiv.innerHTML +=formDiv
                })          
        }

        fetchAllBookmarksUserS()

    </script>


     {% endblock %}