 {% extends "layout.njk"  %}


{% block head %}

    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/bookmarks/bookmarks.css">
  
    <title>FavLinks</title>
    
{% endblock %}
 
 
 
 {% block content %}
 
 <header>
        <div class="header-container">
            <div class="links">
                 <h1>⭐ Hi again {{user.name}}! to <span>FavLinks !</span> </h1>
            </div>
        </div>
      
    </header>
   

    <div class="bookmarks">
        <div class="bookmark-card">
            <p>name</p>
            <p>link</p>
            <button type="submit">editar</button>
            <button type="submit">deletar</button>
        </div>
        
    </div>


    <script >

        async function fetchAllBookmarksUserS(){
            const link = await fetch(`http://localhost:5000/bookmarks/list/${sessionStorage.getItem("id")}`)
            const response  = await link.json()
            const data = await response
            const bookmarks = await data
            
                bookmarks.forEach((bookmark) => { 
                let bookmarkDiv = document.querySelector('.bookmarks')
                bookmarkDiv.innerHTML +=`<div class="bookmark-card"> <p>${bookmark.label}</p><p>${bookmark.link}</p><button type="submit">editar</button><button type="submit">deletar</button></div>`

            })          
        }

        fetchAllBookmarksUserS()

    </script>


     {% endblock %}