 {% extends "layout.njk"  %}


{% block head %}

    <link rel="stylesheet" href="/main.css">
    <title>FavLinks</title>
    
{% endblock %}
 
 
 
 {% block content %}

 
 
 <header>
        <div class="header-container">
            <div class="links">
                 <h1>{% if message %}{{message}} {{user.name}} {% else%} ⭐ Hi again {{user.name}}! to <span>FavLinks !{% endif%}</span> </h1>
                <a href="/sessions">log out</a>
            </div>
        </div>
      
    </header>

    <form  method="POST" action="/bookmarks/create"  enctype="multipart/form-data">
        <div class="save-link-form" onmouseover="auth()" >
            <h2>Here you can save your favorites tech-blogs<h2>
                <h2>title : <input placeholder="eg: Name/Label Blog" type="text" name="label"></h2>
                <h2>link : <input placeholder="eg:http://example.com.br" type="text" name="link"></h2>
                <input id="token" name="token" type="hidden" value="{{token}}">
                <input id="id" name="id" type="hidden" value="{{user.id}}">
        </div>

        <button  type="submit">Save ⭐</button>
    </form>


    <div class="bookmarks">
         {% for bookmark in bookmarks %}
        <div class="bookmark-card">
            <p>{{bookmark.label}}</p>
            <p>{{bookmark.link}}</p>

            <form method="POST" action="edit/" enctype="multipart/form-data">
                <button type="submit">editar</button>
            </form>

            <form method="DELETE" action="/bookmarks/delete/{{bookmark.id}}" enctype="multipart/form-data">
                <button type="submit">deletar</button>
            </form>
            
            
        {% endfor %}
        </div>
        
    </div>


    <script>


            if (token.value ) {
            sessionStorage.setItem("token", `${token.value}`);
            }

            if (id.value) {
             sessionStorage.setItem("id", `${id.value}`);
            }

            function auth(){
            let token = window.document.getElementById("token");
            let id = window.document.getElementById("id");


            let tokenStorage = sessionStorage.getItem("token");
            token.value = `${tokenStorage}`;

            let idStorage = sessionStorage.getItem("id");
            id.value = `${idStorage}`;

            }
    </script>


     {% endblock %}