 {% extends "layout.njk"  %}


 
 {% block head %}
    <link rel="stylesheet" href="/bookmarks/create.css">
    <title>FavLinks</title>
    
{% endblock %}
 
 {% block content %}

    <header>
        <div class="createBookmark-header">
              <h1> ⭐ {{user.name}}! save your <span>FavLinks !</span> </h1>
              <a  href="/bookmarks">
                    <button class="button-show-bookmarks"> bookmarks</button>
              </a>
        </div>
    </header>


    <form  method="POST" action="/bookmarks/edit"  enctype="multipart/form-data">
        <div class="bookmark"  >
             
        </div>

    <script>

      


        async function fetchBookmark(){
              let params = new URL(document.location).searchParams;
        
            let bookmark_id = params.get("id");

            const link = await fetch(`/bookmarks/list/${sessionStorage.getItem("id")}`)
            const response  = await link.json()
            const data = await response
            const bookmarks = await data

               let bookmark = bookmarks.find((bookmark) => {          
                     if(bookmark.id == bookmark_id){
                        return bookmark
                     }             
                })
                
    
               let formDiv = `
               <form  method="POST" action="/bookmarks/edit/${bookmark.id}/${bookmark.user}"  enctype="multipart/form-data">
                    <div class="bookmark-card">
                            <input name="label" value="${bookmark.label}"></input>
                            <input name="link" value="${bookmark.link}"></input>
                    <button class="create-button-form"  type="submit">Save ⭐</button>
                    </div>
                </form>

                `
             bookmarkDiv = document.querySelector('.bookmark') 
             bookmarkDiv.innerHTML +=formDiv
               
        }

        fetchBookmark()

       

    </script>


     {% endblock %}