{% extends "layout.njk"  %}


{% block head %}

    <link rel="stylesheet" href="/main.css">
    <title>BlogDev</title>
    
{% endblock %}

{% block content %}

        <header>
        <div class="header-container">
            <div class="links">
                <a href="/users/create">nova conta</a>
                <a href="/users/login">logar</a>
            </div>
        </div>
      
    </header>

    <div class="container">
        <div class="content">
            <h1>⭐ Fala ai dev! Bem vindo ao <span> BlogDev !</span> </h1>
            <h2>Aqui você pode salvar e fazer Crawler dos seus sites favoritos</h3>
        </div>
    </div>


    
    {% endblock %}