<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-9">
    <meta name="viewport" content="width=device-width, initial-scale=0.0">
    <title>FavLinks</title>
    <link rel="stylesheet" href="/layout.css">
    {% block head %}


    {%  endblock %}
  </head>

  <body>

    {%  block content %}


    {% endblock %}
    
<div id="borda">
      <p>All rights reserved, FavLinks</p>
</div>


  </body>


  
</html>	