form {
    margin: 0;
    padding: 10rem;
}

div{

    margin: 2rem;
}


span{
    margin-right: 1rem;
}

button{
    padding: 0.65rem;
    border-radius: 10%;
    font-weight: bold;
    margin-left: 30%;
    transition: 0.2s;
}

button:hover {
    background-color: var(--yellow500);
}

