{% extends "layout.njk"  %}


{% block head %}

  <link rel="stylesheet" href="/users/create.css">

{% endblock %}

{% block content %}

            <div class="create-container">
                <h1>⭐ New? please create your account</h1>
            </div>
   
  <form method="POST" action="/users/create"  enctype="multipart/form-data">

    <div class="fieldsCreate">
      
        <p>novo nome</p>
        <p> <input  name="name" type="text"> </p>

       
        <p>criar uma senha</p>
        <p><input name="password" type="text" ></p>
       

        <p>criar um novo email</p>
        <p><input placeholder="exemple@email.com" name="email" type="text" > </p>
       
    


    </div>
      
      
      <button type="submit">criar</button>
  
  </form>
    
 {% endblock %}