{% extends "layout.njk"  %}


{% block head %}

     <link rel="stylesheet" href="/users/login.css">

{% endblock %}

{% block content %}
    <header>
            <div class="welcome-container">
                <h1>⭐ Ja tem uma conta ?</h1>
            </div>
    </header>

    <form method="POST" action="/sessions"  enctype="multipart/form-data">            
            <div class="fieldsLogin">

                <p> Email:</p> 
                <p> <input name="email" type="text"></p>

                <p> Senha :</p>
                <p><input name="password" type="text"></p>

            </div>
                  <button type="submit">Sign Up</button>

    </form>
      
  

    
 {% endblock %}