{% extends "layout.njk"  %}


{% block head %}

     <link rel="stylesheet" href="/users/welcome.css">
     <link rel="stylesheet" href="/main.css">

    <title>FavLinks</title>
{% endblock %}

{% block content %}
    <header>
        <div class="header-container">
            <div class="welcome-container">
                <h1>⭐ You alredy have account, please login </h1>
            </div>

             <form method="POST" action="/sessions"  enctype="multipart/form-data">
                
                <p>
                    email : <input name="email" type="text">
                </p> 

                <p>
                    password :<input name="password" type="text">
                </p>
                

                <span> 
                  <button type="submit">Sign Up</button>
                </span> 
            </form>
        </div>
      
    </header>

    
 {% endblock %}